@charset "UTF-8";

@media screen and (min-width: 768px) {
    main {
        background-image: url(../imagens/fundo-m.jpg);
        background-position: center right;
        background-size: cover;
    }

    nav#itens > ul > li {
        display: inline-block;
    }

    #treino {
        width: 350px;
        height: 250px;

        top: 3%;
        left: 24%;
        
    }

    #tela {
        width: 350px;
        height: 250px;
    }
    
    aside {
        top: 3%;
        left: 74%;
    }
    aside p {
        min-width: 350px;
    }
    
    aside table {
        width: 350px;
        
    }

    
}