@charset "UTF-8";

@font-face {
    font-family: treino;
    src: url(../fontes/treino.ttf);
}

:root {
    --fonte1:'treino', Arial, Helvetica, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

header {
    font-family: var(--fonte1);
     background-color: yellow;
}

header h1 {
    padding: 25px;
    font-size: 3em;
    text-align: center;
    letter-spacing: 5px;
    text-shadow: 0px 6px 6px rgba(0, 0, 0, 0.452);
}

div#hamb {
    background-color: yellow;
    text-align: center;
    cursor: pointer;
}

div > span:hover {
    background-color: white;
    border-radius: 50%;
    
    transition-duration: 0.2s;
    transition-timing-function: ease;
}

nav {
    font-family: var(--fonte1);
    display: none;
    text-align: center;
}

nav > ul {
    list-style-type: none;
}

nav > ul > li > a {
    display: block;
    color: black;
    text-decoration: none;
    font-size: 1em;
    text-shadow: 0px 6px 6px rgba(0, 0, 0, 0.452);
    border-top: 1px solid rgba(0, 0, 0, 0.459);
}

nav > ul > li > a:hover {
    background-color: white;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    font-style: italic;
}

main {
    position: relative;
    height: 100vh;
    background: yellow url(../imagens/gym1.jpg) no-repeat;
    background-size: cover;
    
}

#treino {
    position: absolute;
    display: none;
    width: 265px;
    height: 220px;
    border: 1px solid yellow;
    border-radius: 20px;
    overflow: hidden;
    
    
    top: 2%;
    left: 65%;
    transform: translate(-60%);
}

#tela {
    position: absolute;
    display: block;    
    height: 220px;
    width: 265px;
}

footer {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1vh;
}

footer p {
    text-decoration: underline;
}

footer > a > img {
    display: inline-block;
    border-radius: 50%;
    width: 30px;
    margin-left: 10px;
}

footer > a > img:hover {
    border: 2px solid white;
    box-sizing: border-box;
}




