@charset "UTF-8";

@font-face {
    font-family: treino;
    src: url(../fontes/treino.ttf);
}

:root {
    --fonte1:'treino', Arial, Helvetica, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

header {
    background-color: black;
}

header h1 {
    padding: 20px 0px 20px 0px;
    color: white;
    text-align: center;
    font-family: var(--fonte1);
    font-size: 1em;
    letter-spacing: 3px;
    text-shadow: 0px 6px 6px rgba(255, 255, 255, 0.116);

}

h2 {
    color: yellow;
    text-align: center;
    font-size: 0.9em;
    font-family: var(--fonte1);
    background-color: black;
    letter-spacing: 3px;
    text-shadow: 0px 0px 10px rgba(255, 255, 0, 0.158);
}

h2#pantu {
    font-size: 1.8em;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 1.5em;
    padding-left: 5px;
    font-size: 0.8em;
}

section.normal {
    background-color: white;
}

section.imagem {
    background-image: url(../imagens/gym.jpg);
    background-size: cover;
    background-position: center right;
    background-attachment: fixed;
    background-repeat: no-repeat;
    box-shadow: inset 0px 0px 10px black;
    
}

section p {
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.432);
    font-family: var(--fonte1);
}

section p.img {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.301);
    
    border-radius: 20px;
}




