@charset "UTF-8";

@font-face {
    font-family: treino;
    src: url(../fontes/treino.ttf);
}

:root {
    --fonte1:'treino', Arial, Helvetica, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

header {
    background-color: black;
}

header h1 {
    padding: 20px 0px 20px 0px;
    color: white;
    text-align: center;
    font-family: var(--fonte1);
    font-size: 1.5em;
    letter-spacing: 3px;
    text-shadow: 0px 6px 6px rgba(255, 255, 255, 0.116);

}

h2 {
    color: yellow;
    text-align: center;
    font-size: 1em;
    font-family: var(--fonte1);
    background-color: black;
    letter-spacing: 3px;
    text-shadow: 0px 0px 10px rgba(255, 255, 0, 0.158);
}

h2#pantu {
    font-size: 1em;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 1.5em;
    padding-left: 5px;
    font-size: 0.8em;
}

section.normal {
    background-color: white;
}

section.imagem {
    box-shadow: inset 0px 0px 10px black;
}

section#peito {
    background-image: url(../imagens/peito.jpg);
    background-size: cover;
    background-position: 0% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

section#costa {
    background-image: url(../imagens/costas.jpg);
    background-size: cover;
    background-position: 0% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

section#ombro {
    background-image: url(../imagens/ombro.jpg);
    background-size: cover;
    background-position: center right;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

section#trapezio {
    background-image: url(../imagens/trapezio.jpg);
    background-size: cover;
    background-position: left  right;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

section#biceps {
    background-image: url(../imagens/biceps.jpg);
    background-size: cover;
    background-position: center  center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

section#triceps {
    background-image: url(../imagens/triceps.jpg);
    background-size: cover;
    background-position: center  center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

section#quadriceps {
    background-image: url(../imagens/quadriceps.jpg);
    background-size: cover;
    background-position: center  center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

section#femoral {
    background-image: url(../imagens/femoral.jpg);
    background-size: cover;
    background-position: left center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

section#panturrilha {
    background-image: url(../imagens/pant.jpg);
    background-size: cover;
    background-position: center  center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

section#panturrilha {
    background-image: url(../imagens/pant.jpg);
    background-size: cover;
    background-position: center  center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

section#abdomen {
    background-image: url(../imagens/abdomen.jpg);
    background-size: cover;
    background-position: bottom left  ;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

section p {
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.432);
    font-family: var(--fonte1);
    padding: 10px;
}

section p.img {
    display: inline-block;
    color: white;
    background-color: rgba(0, 0, 0, 0.26);
    border-radius: 5px;
}




